<div class="row text-center">
  <div class="col-sm-4 col-sm-offset-4">
    <h1>Login</h1>
    <form ng-submit="login.submit(login.inputs.email, login.inputs.password)">
      <div class="form-group">
        <label for="email">Email</label>
        <input
        class="form-control"
        placeholder="you@example.com"
        name="email"
        type="text"
        ng-model="login.inputs.email"
        />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <div class="input-group">
          <input
          class="form-control"
          name="password"
          type="{{ login.showPassword ? 'text' : 'password' }}"
          ng-model="login.inputs.password"/>
          <span class="input-group-btn">
            <passwordToggle
              value="login.showPassword"
              active="eye-open"
              inactive="eye-close"
            >
            </passwordToggle>
          </span>
        </div>
      </div>
      <div class="form-group">
        <button type="submit" ng-click="login.inputType = 'signin'" class="btn btn-primary">Login</button>
        <button type="submit" ng-click="login.inputType = 'register'" class="btn btn-info">Register</button>
      </div>
      <div class="alert alert-danger" ng-show="login.errorMessage">
        <p>{{ login.errorMessage }}</p>
      </div>
    </form>
  </div>

</div>
